<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center">
        web scraping using JS
      </h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <small>
        url <code>{{scrapUrl}}</code>
      </small>
    </div>
    <div class="col">
      <small>
        backend in <code>{{backend}}</code>
      </small>
    </div>
    <div class="col">
      <small>
        frontend in <code>{{frontend}}</code>
      </small>
    </div>
  </div>
</div>
<app-faq [url]="serverUrl"></app-faq>
<router-outlet></router-outlet>